.layout-auth-container {
	width: 100%;
	height: 100vh;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgb(189, 254, 143);
	background: radial-gradient(
		circle,
		rgb(233, 233, 233) 28%,
		rgba(121, 183, 255, 1) 100%
	);
	& h1 {
		margin-bottom: 2rem;
	}
}

.content-box-auth {
	width: 430px;
	padding: 20px;
	background: rgb(96, 254, 255);
	background: linear-gradient(
		0deg,
		rgb(248, 248, 248) 0%,
		rgb(232, 232, 232) 100%
	);
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	animation-duration: 0.5s;

	& h2 {
		font-family: Figtree, sans-serif;
		font-size: 25px;
		margin-bottom: 40px;
	}
}

.logo_login {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.logo_image_hotel_login {
	width: 70px;
	filter: drop-shadow(2px 2px 5px rgba(86, 86, 86, 0.666));
}
