.grid_container_rooms {
	width: 90%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(230px, auto));
	gap: 20px;
	justify-content: start;
	align-items: center;
	padding: 20px;
	max-width: 1200px;
	margin: 0 auto;
}

@media (max-width: 1165px) {
	.grid_container_rooms {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 1060px) {
	.grid_container_rooms {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 770px) {
	.grid_container_rooms {
		width: 100%;
		display: grid;
		margin: auto;
		grid-template-columns: 1fr;
		gap: 20px;
		justify-items: center;
		align-items: center;
		padding: 20px;
		max-width: 1200px;
	}
}
