.layout-container {
	margin-left: 180px;
	margin-top: 20px;
	width: calc(100% - 180px); /* Ajusta el ancho para no solaparse */
	box-sizing: border-box;
	padding: 20px;
}

.head-layout-page {
	margin-right: 80px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.dropdown {
	position: relative;
	cursor: pointer;

	.dropdown_menu {
		top: 100%;
		left: 0;
		background: rgb(17, 112, 255);
		opacity: 0;
		position: absolute;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		z-index: 1000;
		pointer-events: none;
		transform: translateY(50%);
		transition: all 0.3s ease-in-out;

		button {
			border-radius: 10px;
			display: block;
			padding: 10px;
			cursor: pointer;
		}
	}
	&:hover .dropdown_menu {
		opacity: 1;
		transform: translateY(0);
		pointer-events: all;
	}
}
