.headers_data_company h2 {
	font-size: 1.8rem;
	color: #004ed4;
	margin-bottom: 1rem;
	padding-bottom: 0.5rem;
	border-bottom: 2px solid #e2e8f0;
}

.headers_data_company h3 {
	font-size: 1.25rem;
	color: #4a5568;
	margin-bottom: 1.5rem;
}

.main_data_company p {
	color: #718096;
	margin-bottom: 0.75rem;
	line-height: 1.5;
}

.main_data_company strong {
	color: #2d3748;
	min-width: 100px;
	display: inline-block;
}

.headers_company_dangerZone h2 {
	font-size: 1.8rem;
	color: #ff0000;
	margin-top: 2rem;
	margin-bottom: 1rem;
	padding-bottom: 0.5rem;
	border-bottom: 2px solid #e2e8f0;
}

.main_company_dangerZone {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.edit_company {
	width: 200px;
	background-color: rgb(165, 246, 165);
	border: none;
	border-radius: 9px;
	padding: 10px;
	font-size: medium;
	box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	transition: all ease 0.4s;

	&:hover {
		background-color: rgb(128, 248, 128);
		transform: scale(1.05);
	}
}

.delete_company {
	width: 200px;
	background-color: rgb(246, 165, 165);
	border: none;
	border-radius: 9px;
	padding: 10px;
	font-size: medium;
	box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	transition: all ease 0.4s;

	&:hover {
		background-color: rgb(252, 118, 118);
		transform: scale(1.05);
	}
}
