.room_input_repeat {
	border: red 2px solid;
}

.form_input_rooms {
	height: 30px;
	padding: 4px;
	border-radius: 5px;
}

.char_counter_room {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8rem;
}
